* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
 font-family: 'iran';
 
}


@font-face {
  font-family:'iran' ;
  src: local('iran'), url(./assets/font/iran.ttf) format('truetype');
}
@font-face {
  font-family:'title' ;
  src: url(./assets/font/SOGAND.ttf);
}
