* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.class{
  padding:5px 5px;
  

}

@font-face {
  font-family:'iran' ;
  src: local('iran'), url('./assets/font/iran.ttf') format('truetype');
}
@font-face {
  font-family:'title' ;
  src: url('./assets/font/SOGAND.ttf');
}
@font-face {
  font-family: "Vazir-Medium";
  src: local("Vazir-Medium"),
    url("./assets/font/Vazir-Medium.ttf") format("truetype");
}

